bin
gen
.project
.classpath
.settings
.pmd
default.properties
lint.xml
tweedle-app/proguard_logs/dump.txt
tweedle-app/proguard_logs/seeds.txt
tweedle-app/proguard_logs/usage.txt
*.iml
*.ipr
*.iws
target
.idea
out
gen-external-apklibs
classes
com_crashlytics_export_strings.xml
